.idea/libraries/Maven__org_codehaus_groovy_groovy_all_2_4_5.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
target/classes/book.class
target/classes/Contact.class
target/classes/consoleapplication/AddressBookConsoleApplication.class
target/classes/contacts/AddressBook.class
target/classes/contacts/Contact.class
target/classes/copy/AddressSplitter.class
target/classes/copy/ContactLines.class
target/test-classes/AddressBookTest.class
target/test-classes/ContactTest.class
target/test-classes/copy/AddressSplitterTest.class
target/test-classes/copy/CopyTest.class
target/test-classes/copy/MyFileReaderTest.class
target/test-classes/copy/TerminalReaderTest.class
target/classes/copy/Copy.class
target/classes/copy/IReader.class
target/classes/copy/IWriter.class
target/classes/copy/MyFileReader.class
target/classes/copy/TerminalReader.class
target/classes/copy/TerminalWriter.class
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
